body {
    margin: 0px;
    padding: 0px;
}

/************** main *************/
#today { text-align: center; }
#calender {
    border: 1px solid rgb(0, 0, 0);
    width: 50%;
    height: 500px;
}

#calender_position {
    display: flex;
    justify-content: center;
}

tr, td {
    border: 1px solid rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
}

#days > td > h3{
    text-align: center;
    margin: 0px;
    padding-right: 12px;
    padding-left: 12px;
}

#first_week > td > h5{
    margin: 0px;
    padding: 0px;
    margin-bottom: 80%;
}
#second_week > td > h5{
    margin: 0px;
    padding: 0px;
    margin-bottom: 80%;
}
#third_week > td > h5{
    margin: 0px;
    padding: 0px;
    margin-bottom: 80%;
}
#four_week > td > h5{
    margin: 0px;
    padding: 0px;
    margin-bottom: 80%;
}
#five_week > td > h5{
    margin: 0px;
    padding: 0px;
    margin-bottom: 80%;
    color: darkgray;
}

#next_page > td {
    text-align: center;
} 

#next_page > td > span{
    margin-left: 10%;
    margin-right: 10%;
    font-size:25px;
    font-weight: bold;
    
}

.Sunday {
    color: firebrick;
}
.Saturday {
    color: mediumblue;
}

#main_btn_positions {
    margin-left: 31.5%;
    padding-top: 2%;
}


.main_btn {
    display: inline-block;
    margin-right: 1%;
}

.main_btn > button {
   font-size: 20px;
   font-weight: bold;
   background-color: white;
   border: 3px solid;
   padding-right: 30px;
   padding-left: 30px;
}





/************** schedule list add *************/
#schedule_list_add_position {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#add_title {
    font-size: 12pt;
    font-weight: bold;
}

#add_person {
    font-size: 12pt;
    font-weight: bold;
}

#add_department {
    font-size: 12pt;
    font-weight: bold;
}

#add_days {
    font-size: 12pt;
    font-weight: bold;
}

#list_add_btn {
    width: 100%;
    height: 100%;
    font-size: 12pt;
    font-weight: bold;
    color: white;
    background-color: black;
    border: 0px solid;
}

#add_title_content {
    margin: 0px;
    padding: 0px;
    width: 98%;
    height: 90%;
    border: 0px solid;
    text-align: center;
    
}

#add_person_content {
    margin: 0px;
    padding: 0px;
    width: 98%;
    height: 90%;
    border: 0px solid;
    text-align: center;
}

#add_department_content {
    margin: 0px;
    padding: 0px;
    width: 98%;
    height: 90%;
    border: 0px solid;
    background-color: white;
    text-align: center;
}

#list_add_content {
    margin: 0px;
    padding: 0px;
    width: 99%;
    height: 98%;
    border: 0px solid;
}

#add_days_content {
    margin: 0px;
    padding: 0px;
    width: 99%;
    height: 98%;
    border: 0px solid;
    text-align: center;
}





/************** schedule list  *************/
#schedule_list_title {
    margin: 0px;
    padding: 0px;
}

#schedule_list_title > button {
    color: white;
    background-color: black;
    width: 100%;
    height: 80px;
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#no_move {
    width: 0%;
    height: 0px;
    border: 0px solid;
    font-weight: bold;
}

.p_Tag {
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
}

.checkBox {
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
}

.textNode {
    margin: 0px;
    padding: 0px;
    margin-left: 10%;
    width: 50%;
    margin-top: 0.6%;
    display: inline-block;
    border: 0px solid;
    font-size: 20px;
    font-weight: bold;
}

.delButton {
    margin: 0px;
    padding: 0px;
    width: 98%;
    margin-top: -6px;
    
    display: inline-block;
     
}

.delButton_X {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    margin-top: 10px;
    float: right;
}

.underLine {
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
}




/***************** 로그인, 회원가입 공용 ***************/
#topMenu {text-align: center; margin-top: 50px;}
#topMenu > div {font-weight: 700; font-size: 24px;}
#login_section { width: 100%; text-align:center; margin-top: 3%;}
fieldset {border: none;}

.mb_form { width: 100%; margin: 0 auto; border: none im !important;}

label { width: 100%; display: block;}                                                                                          

#mb_name,#mb_id, #mb_pw,#mb_pw_re {width: 50%; margin-top: 15px;}

#login_btn,#join_btn { width: 52%; margin-top: 15px; ;}
.link {
    padding-top: 2.2%;
    padding-bottom: 1%;
    padding-left: 30%;
    padding-right: 30%;
}





/***********  join **********/
label[for=mb_type] > span { font-size: 16px;}
#mb_Team { width: 37%; margin-top: 15px;}

